.text-olive {
  color: #808000;
}

.news-card {
  width: 250px;
  margin: 30px;
  height: 350px;
  background-color: #808000 !important;
}

.news-card img {
  object-fit: cover;
  height: 75%;
  width: 100%;
}

.news-card .card-title {
  font-weight: 700;
  font-size: 24px !important;
  color: #fff !important;
}

.news-card a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  margin: 0 !important;
}

.news-card a:hover {
  color: #000;
  transition: 400ms ease-in;
  text-decoration: none;
}
