.custom-navbar {
  background-color: #808000 !important;
  color: #fff !important;
}

.custom-navbar a {
  text-decoration: none !important;
  color: #fff !important;
  font-weight: 700;
}

.custom-navbar li {
  font-size: 14px;
}

.custom-navbar .btn {
  background-color: #fff;
  color: #808000;
  font-weight: 700;
  font-size: 13px;
}

.custom-navbar input {
  font-size: 13px;
}
