{% extends "django_registration/base.html" %}

<!-- load bootstrap -->
{% load bootstrap4 %} {% block content %}
<div class="container mx-auto">
  <div class="row w-100 justify-content-center">
    {% if form.errors %}
    <p>Password or Username is incorrect</p>
    {% endif %}

    <form class="form-group mx-auto" action="/accounts/login/" method="post">
      {% csrf_token %} {% bootstrap_form form %}
      <input type="submit" class="btn-dark" value="Login" />
    </form>
    <input type="hidden" name="next" value="{{next}}" />
  </div>
  <p
    class="mx-auto"
    style="
      font-family: 'Century Gothic Bold';
      text-align: center;
      font-size: 12px;
    "
  >
    If you don't have an account,
    <span
      ><a class="text-olive" href="/accounts/register/">click here.</a></span
    >
  </p>
</div>
{% endblock content %}
