{% extends 'registration/base.html' %}
<!-- loaded bootstrap -->
{%load bootstrap %}
<!-- start of block content -->
{% block content %}
<div class="container">
  <div class="row">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sign Up</h5>
        </div>
        <div class="modal-body">
          <form action="/accounts/register/">
            {% csrf_token %} {% bootstrap_form form %}

            <div class="form-group">
              <input type="submit" value="Sign Up" class="btn btn-light" />
            </div>

            <input type="hidden" name="next" value="{{next}}" />
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
